/* ------------------header style here-------- */
body {
         margin: 0px;
         padding: 0px;
         box-sizing: border-box;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color:aqua;
    height: 50px;
    
      
}
.navbar ul {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.navbar ul li{
    margin: 10px;
    
}
.navbar ul li a{
    text-decoration: none;
}
 


.logo h2{
      
      
 }
 .navbar ul li a:hover{ 
    background-color: yellow; 
}  




    
/* ..........................Hero Section..................................... */

.hero-section{
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 500px;
    background-color:yellow;
}
.container{
    display: flex;
    flex-direction: column;

}
.container .button{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: cubic-bezier(0.9s);
    
}
.button .btn{
    margin: 10px;
    background-color: yellow;
    
}
.btn a{
    text-decoration: none;
    box-shadow: 10px;
    color:black;
}


.btn:hover{
    background-color:black;
}

 



.photo{
         height: 200px;
         width: 200px;
         background-color: blueviolet;
         border-radius: 50%;
         border: 6px solid white;
}
.photo img{
         height: 200px;
         width: 200px;
         border-radius: 50%;
} 
/* ..........................About secton................................................. */
.about-section{
         background-color:blue;
         height: 500px;
}
.about-section button{
    background-color: yellow;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.para{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
 
.Exp p{
         width: 80px;
         font-size: 100px;
         border-radius: 50%;
         background-color: yellow;      
}
.Exp h4{
    margin-top: -80px;
}
.info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* ......................services section..................................... */

.services-section{
         background-color:aqua;
         
}
.service{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.ido{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.ido div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
}
.ido div p {
    margin-top: -20px;
}

/* .....................resume section.......................... */
.resume-section{
    background-color: rgb(243, 18, 18);
    height: 500px;
}
.sectionContent {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.resume{
    display: flex;
    align-items: center;
    justify-content: space-around;

}


/* .................protfolio section................ */
.protfolio-section{
    background-color: aqua;
    width: 100%;
    height: 700px;
    
 
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.men{
    display: flex;
    align-items: center;
    justify-content:center;
    /* margin-top: 20px; */
    
}
.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.projects .item{
    display: flex;
    width: 90px;
    height: 150px;
    margin-top: 50px;
    justify-content: center;
    
    
}
.projects1{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.projects1 .item{
    display: flex;
    width: 90px;
    height: 150px;
    margin-top: 50px;
    justify-content: center;
}
/* .................Hire-section................. */
.hire-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
    width: 100%;
    height: 300px;
    background-color: blue;
    color: white;
}
/* ...........faq-section................... */
.faq{
    margin: 0;
    padding: 0;
    background-color: gray;
}
.containers{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.container h5{
    background-color: yellow;
    width: 40px;

}
.container h3{
    font-weight: bold;
}
/* ..............client-section................ */
.client-section{
   
    background-color: blueviolet;
    height: 500px;
}
.client-section .client{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;

}
.client-section h5{
    background-color: yellow;
    color: black;
}
.client-section h3{
    font-size: 30px;
    font-weight: bold;
}
/* ..............last-section.............. */
.last-section{
    background-color: yellow;
    display: flex;
    justify-content: space-around;
}

/* ...........footer............. */
.footer-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: azure;
}

